<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DefaultUserName" value="akajanus" />
    <add key="PortalUrl" value="https://www.arcgis.com/sharing/rest" />
    <add key="GroupIds" value="01b41abf1d574a3190439e7fdd967762,ba2b388a9fc1489ab20f10bb3f1517b4,3319f54a6cab49cd8fb92f3c76bc75a1" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Esri.ArcGISRuntime" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-100.5.0.0" newVersion="100.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>